#posts header {
    margin: -20px -20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aa5050;
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;
  }
  
  #posts header h2 {
    margin: 0;
    font-size: 5vw;
    text-shadow: 0 0 5px black;
  }
  
  #posts header a {
    color: #d7d7d7;
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 200%;
  }
  
  #posts .metadata {
    text-align: center;
  }
  
  #posts main {
    max-width: 768px;
    margin: 35px auto 10px;
    text-align: justify;
    white-space: pre-wrap;
  }
  
  #posts .posts-photos {
    background-color: #1e1e1e;
    border-radius: 10px;
    margin: 20px auto 0;
    width: 768px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  #posts .posts-photos label {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #posts .posts-photos input {
    display: none;
  }