#home h2 {
  align-items: center;
  margin: 90px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin: 10px 10px 30px;
    display:inline-flex;
    line-height: 20px;
    position: relative;
    max-width: 200px;
  }

#home .new-Posts-link {
  display: block;
  margin: auto;
  width: 120px;
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}