.like {
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.like.active {
  background-color: rgb(220, 33, 0);
  align-items: center;
  
}
