.Posts {
  display: inline-block;
  margin-top: 0 !important;
  border-radius: 8px;
  width: 350px;
  height: 550px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0 auto 10px;
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: rgba(37, 36, 38, 0.4) 5px 5px 15px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: white;

}

.Posts h3 {
  position: relative;
  font-size: 250%;
  margin: 0;
}

.Posts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.profile-button {
  display: inline;
  background: none;
  color: white;
  font-weight: bold;
  padding: 4px;
}

#home .style {
  background-size: contain;
  background-repeat: no-repeat;
}