.PostsContainer {
  display: inline-block;
  flex-direction: column;
  margin: 100px 0px 0px;
  font-weight: 300;
}

.PostImage {
  border-radius: 10px;
  width: 450px;
  height: 650px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0 auto 10px;
  position: relative;
  box-shadow: rgba(37, 36, 38, 0.4) 5px 5px 15px;
}

.PostsContainer .Post-Image {
  border-radius: 10px;
  width: 450px;
  height: 650px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0 auto 0px;
  position: relative;
  box-shadow: rgba(37, 36, 38, 0.4) 5px 5px 15px;
}

.PostContent {
  padding: 0.5px;
}

.PostContent h3 {
  text-align: center;
  position: relative;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  line-height: 1.5;
}

.PostInfo {
  font-size: 18px;
  cursor: pointer;
}

.Posts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.PostInfo .profile-button {
  display: inline;
  background: none;
  font-weight: bold;
  padding: 0px;
}

.PostActions {
  display: flex;
  margin: 0px 50px 80px;
}

.PostInfo .date {
  font-size: 15px;
  cursor: pointer;
}

.PostInfo .time-ago {
  font-size: 15px;
  cursor: pointer;
}


@media (min-width: 300px) and (max-width: 700px) {
  .PostsContainer .Post-Image  {
    border-radius: 10px;
    width: 300px;
    height: 450px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin: 110px auto 10px;
    position: relative;
  }

  .Post-Content h3 {
    text-align: center;
    position: relative;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
  }
} 