.PostContainer {
  display: inline-block;
  flex-direction: column;
}

.PostsContainer {
  display: inline-block;
  flex-direction: column;
  margin: 100px 0px 0px;

}

.PostImage {
  border-radius: 10px;
  width: 450px;
  height: 650px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 0 auto 10px;
  position: relative;
  box-shadow: rgba(37, 36, 38, 0.4) 5px 5px 15px;
}

.PostContent {
    padding: 0.5px;
}

.PostContent h3 {
  text-align: center;
  position: relative;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
  color: rgb(71, 66, 66);
}

.PostInfo {
  font-size: 18px;
  margin: 0px 0px 0px;
  cursor: pointer;
  color: rgb(57, 51, 51);
}

.PostInfo .author {
  font-size: 18px;
  margin: 0px 0px 0px;
   box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: rgb(104, 72, 72);
}

.Posts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

.PostInfo .profile-button {
  display: inline;
  background: none;
  color: rgb(76, 5, 5);
  font-weight: bold;
  padding: 1px;
}

.PostActions {
  display:flex;
}

.PostActions > * {
  margin: 0px 50px 80px; 
}

.PostInfo .date {
  font-size: 15px;
  margin: 0px 0px 0px;
  cursor: pointer;
  color: rgb(57, 51, 51);
}


.PostInfo .time-ago {
  font-size: 15px;;
  margin: 0px 0px 0px;
  cursor: pointer;
  color: rgb(57, 51, 51);
}


.posts img {
  object-fit:cover;
  width: 96px;
  height: 96px;
  padding: 1px 1px 1px;
  border-radius: 5px;
}
