
.Posts .metadata {
  position: relative;
}

.Posts .metadata span {
  display: inline-block;
  margin: 0 5px;
}

.posts img {
  width: 96px;
  height: 96px;
  object-fit:cover;
  padding: 1px 1px 1px;
}
