header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px ;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

#userinfo {
  font-weight:bolder;
  color: #a9388d;
  text-decoration: inherit;
  place-items: center;
  display:block;
  align-items:end;
}

.lang {
  background-color: bisque;
}

.userinfo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;

}

#logout {
  cursor: pointer;
}

.light-theme {
  z-index: 10;
  background-color: #ffffff;
  color: #000000; 
}

.light-theme nav a {
  color: #000000;
}

.light-theme button {
  background-color: #ffffff; 
  color: #000000; 
}

.dark-theme {
  z-index: 10;
  background-color: #121212; 
  color: #ffffff; 
}

.dark-theme nav a {
  color: #ffffff; /
}

.dark-theme button {
  background-color: #121212; 
  color: #ffffff; 
}

