header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 20px 0px;
  display:flex;
  align-items: center;
  justify-content:center;
  background-color: white;
}

.userinfo {
  margin: 2px 10px 10px;
  font-weight:bolder;
  color: #a9388d;
  text-decoration: inherit;
  place-items: center;
}

.lang {
  margin: 2px 20px 20px;
  background-color: rgb(255, 255, 255);
}

.userinfo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;

}

.logout {
  margin: 2px 15px 2px;
  color: #21174f;
  cursor: pointer;
}

.light-theme {
  z-index: 10;
  background-color: #ffffff;
  color: #000000; 
}

.light-theme nav a {
  color: #000000;
}

.light-theme button {
  background-color: #ffffff; 
  color: #000000; 
}

.dark-theme {
  z-index: 10;
  background-color: #121212; 
  color: #ffffff; 
}

.dark-theme nav a {
  color: #ffffff; /
}

.dark-theme button {
  background-color: #121212; 
  color: #ffffff; 
}

