#userinfo {
  display: flex;
  align-items: center;
}

.userinfo img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#logout {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Estilos para el tema claro */
.light-theme {
  z-index: 10;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

.light-theme nav a {
  color: #000000; /* Enlaces en negro */
}

.light-theme button {
  background-color: #ffffff; /* Bot贸n con fondo blanco */
  color: #000000; /* Texto negro en el bot贸n */
}

/* Estilos para el tema oscuro */
.dark-theme {
  z-index: 10;
  background-color: #121212; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

.dark-theme nav a {
  color: #ffffff; /* Enlaces en blanco */
}

.dark-theme button {
  background-color: #121212; /* Bot贸n con fondo oscuro */
  color: #ffffff; /* Texto blanco en el bot贸n */
}

