#root {
  max-width: 1280px;
  margin: 30px auto 0;
  padding: 2rem;
  text-align: center;
}

button {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;

}

input {
  display:flex;
  align-items: center;
  justify-content: space-between;
  line-height: 50px;
  max-width: 200px;
  width: 100%;
  height: 45px;
  padding: 0 3rem;
  margin: 10px;
  border: 2.5px solid transparent;
  border-radius: 12px;
  background-color: #f6f7f8;
  color: #3f2338;
  transition: .5s ease;
  text-align: center;
  }

  .input::placeholder {
    color: #94a3b8;
  }

  .input:focus, input:hover {
    outline: none;
    border-color: #a9388d;
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(134, 72, 123, 0.3);
  }


